// FONTS

$main-font-stack: "Titillium Web", sans-serif;

// COLORS
$bg-color: #f2f2f2;
$bg-color2: #e5e5e5;

$font-fair: #fafafa;
$font-grey1: #333333;
$font-grey2: #4f4f4f;
$font-grey3: #bdbdbd;
$font-grey4: #ebebeb;
$font-grey5: #e0e0e0;
$font-accent: #f50a4d;
